---

# - name: Include version-specific variables for Ubuntu.
#   include_vars: "{{ ansible_facts['distribution'] }}-{{ ansible_facts['distribution_version'] }}.yml"
#   when: ansible_facts['distribution'] == 'Ubuntu'
# - name: Include version-specific variables for RedHat
#   include_vars: "RedHat-{{ ansible_facts['distribution_major_version'] }}.yml"
#   when: ansible_facts['os_family'] == "RedHat"
# - name: Include version-specific variables for Alpine
#   include_vars: "Alpine.yml"
#   when: ansible_facts['os_family'] == "Alpine"

- name: Include upgrade-pkgs-gem
  ansible.builtin.include_tasks: upgrade-pkgs-gem.yml
#  when: not (upgradepkgsgem_exclude_hosts is defined and upgradepkgsgem_exclude_hosts[inventory_hostname])
